.sublist{
    list-style: none;
    padding-left: 0;
}
.sublist li{
    margin: 5px;
}
.confirmacion{
    margin-right: 15px;
    margin-left: 15px;
    width: 30% !important;
}
#dash_map{
    width:100%;
    height:400px;
}
#subtitle{
    color: #545454;
    padding-top: 8px;
}